<%- include('../partials/header') %>

<h2>Enter a New Flight:</h2>
<form action="/flights" method="POST" class="new-flight">
  <label>AIRLINE:
    <select name="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
    </select>
  </label>

  <label>AIRPORT:
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX" selected>LAX</option>
        <option value="SAN">SAN</option>
    </select>
  </label>

  <label>FLIGHT NO.:
    <input type="number" name="flightNo" pattern="[1-9]\d{1,3}">
  </label>

  <label>DEPARTS:
    <input type="datetime-local" name="departs">
  </label>

  <button type="submit">ADD FLIGHT</button>
</form>

<%- include('../partials/footer') %>